body {
  text-align: center;
}

.formGroup {
  margin: 15px 0;
}

.formGroup label {
  text-align: left;
  font-weight: bold;
  width: 140px;
  display: inline-block;
  line-height: 24px;
}

.formGroup input {
  vertical-align: middle;
}

.formGroup input[type="text"] {
  max-width: 50px;
}

.formGroup input[type="range"] {
    min-width: 255px;
    margin-right: 10px;
  }

#actualColor {
  margin: 50px auto;
  width: 150px;
  height: 150px;
}
